{% extends 'base.html' %}

{% block content %}
<div class="type-active m-4" align="center">
    <h4>ООО «Самые безопасные растворители мира» представляют вашему вниманию продукцию, абсолютно безопасную для
        здоровья
        человека, и окружающей среды.
    </h4>
</div>
<hr>
<div class="type-active m-4" align="center">
    <h5>Много лет, наша компания занимается разработкой и внедрением новых технологий в производстве.
        Цель компании – постоянное совершенство в технологии очищения растворителей, при сохранении высочайшего
        качества
        продукции. За все годы развития, удалось максимально деароматизировать жидкости, найти баланс между
        качеством и
        чистотой продукции, довести производственные и логистические потери практически до нулевого показателя.
    </h5>
    <hr>
    <img src="http://abcnews.com.ua/media/cache/news/uploads/content/5714ee838af916966300834d/db2882f1.jpg"
         width="90%" height="50%"></img>
</div>
<hr>
<div class="type-active m-4" align="center">
    <h4>Главная победа нашей компании – сохранённые жизни и крепкое здоровье людей, а также охрана окружающей среды.
    </h4>
</div>
{% endblock %}