{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<h4 class="h4 text-success" align="center">ООО "Самые безопасные растворители мира" представляют Вашему вниманию
    самый большой спектр экологически чистых растворителей.</h4>
<br> <br>
<h4 align="center"><a href="/catalog/about" class="btn btn-primary">Здесь Вас ждет информация о нашем
    предприятии</a>
    <a href="/catalog/news" class="btn btn-primary">Здесь Вас ждут новости нашего предприятия</a>
    <br> <br>
    <a href="/catalog/thinners" class="btn btn-primary">Здесь Вас ждет информация об импортных растворителях</a>
    <a href="/catalog/ukr_thinners" class="btn btn-primary">Здесь Вас ждет информация об украинских
        растворителях</a>
    <br> <br>
    <a href="/catalog/contacts" class="btn btn-primary">Здесь Вы можете с нами связаться и отправить сообщение</a>
    <br> <br>
    <a href="/catalog/order" class="btn btn-primary">Здесь Вы можете оформить заказ</a>
</h4>
{% endblock %}