{% extends 'bt.html' %}
{% block content %}
<br>
<strong><h1 align="center">ОФОРМЛЕНИЕ ЗАКАЗА.</h1></strong>
<strong><h6 align="center">Заполните пожалуйста форму, затем проверьте правильность введённых
    Вами данных. После чего, нажмите кнопку "Отправить заказ".</h6></strong>
<strong><h6 align="center">Не забудьте указать свои контакты для обратной связи.</h6></strong>
<br>

<form action="" method="POST">
    {% csrf_token %}

    {% comment %}
    {{ form.as_p }}
    {% endcomment %}
    {% comment %}

    {{ form.non_field.errors }}

    <div class="mb-3">
        <label for="{{ form.name.id_for_label }}" class="form-label">Импортный растворитель</label>
        {{ form.name }}
        <div class="invalid-feedback">
            {{ form.name.errors }}
        </div>
    </div>
    <div class="mb-3">
        <label for="{{ form.ukr_name.id_for_label }}" class="form-label">Украинский растворитель</label>
        {{ form.ukr_name }}
        <div class="invalid-feedback">
            {{ form.ukr_name.errors }}
        </div>
    </div>
    <div class="mb-3">
        <label for="{{ form.purpose.id_for_label }}" class="form-label">Количество</label>
        {{ form.purpose }}
        <div class="invalid-feedback">
            {{ form.purpose.errors }}
        </div>
        <div class="mb-3">
            <label for="{{ form.description.id_for_label }}" class="form-label">Примечание</label>
            {{ form.description }}
            <div class="invalid-feedback">
                {{ form.description.errors }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Отправить заказ</button>
        {% endcomment %}
        {% for field in form %}
        <div class="form-group" align="center">
            {{ field.label_tag }}
            {{ field }}
            <div class="invalid-feedback">
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Отправить заказ</button>
        {% endblock %}