{% extends 'base.html' %}
{% block content %}
<h2 align="center">КАТАЛОГ ПРОДУКЦИИ УКРАИНСКОГО ПРОИЗВОДСТВА.</h2>
{% for item in ukrthinners %}
<div class="card text-center mt-2">
    <div class="card-header">
        Растворитель
    </div>
    <div class="card-body">
        <div class="media">
            {% if item.img %}
            <img src="{{ item.img.url }}" alt="">
            {% else %}
            <img src="https://picsum.photos/id/156/367/267" alt="" width="20%" height="20%">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">{{ item.purpose }}</p>
                <a href="/catalog/ukrthinner/{{ item.pk }}" class="btn btn-primary">Информация о
                    растворителе</a>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        {{ item.country }}
    </div>
</div>
{% endfor %}
{% endblock %}